/* .register-form {
    text-align: center;
    border: 1px solid;
} */

.register-wrapper {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 100px auto;
    padding: 16px;
    background: #F7F7F7;
    border-radius: 8px;
}

.register-title {
    background: #2458FF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.register-button {
    background-color: #2458FF;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.register-wrapper input[type="text"],
.register-wrapper input[type="email"],
.register-wrapper input[type="password"]

{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
